*{
    margin: 0;
    padding: 0;

}
.main{
    width: 100%;
    background:linear-gradient(to top ,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.icon{
    color: rgb(238, 10, 10);
    margin: auto;
    font-family: sans-serif;
    padding-left: 40px;
    padding-top: 20px;
    float: left;

}
.incl{
    color: aliceblue;
}
.menu{
    width: 400px;
    height: 30px;
    float: left;
    justify-content: end;
    
       
}
ul{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-top: 27px;
    margin-left: 62px;
    font-size: 17px;
    
}
ul li a{
    text-decoration: none;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
}
ul li a:hover{
    color:brown;
    width: 100%;
    
}
.search{
    width: 335px;
    float: left;
    margin-left: 695px;
    transform: translateY(-24px);
}
.src{
    width: 200px;
    height: 30px;
    background: transparent;
    border: .9px solid rgb(233, 164, 15);
    border-radius: 20px 0;
    padding: 14px;
    color: wheat;
}
button{
    background-color: rgb(233, 164, 15);
    height: 31px;
    width: 100px;
    border-color: rgb(233, 164, 15);
    transform: translateX(-32px);
    border-radius: 20px 0;
    cursor: pointer;
}
.body{
    color: aliceblue;
    margin-top: 20%;
    margin-left: 10%;
    position: absolute;
}
.tit{
    font-weight: bold;
    font-size: 48px;
}
.kno{
    color: coral;
}

